body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%)

}

.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 375px;
    max-height: 700px;
    padding: 1em;
    background-color: white;
    border-radius: 1em;
    box-sizing: border-box;
}

img {
    border-radius: 1em;
    max-width: 100%;
}

.header{
    font-weight: 700;
    color: black;
    font-size: 22px;

}

p {
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
}

.card-text{
    margin-top: 0;
    margin-bottom: 2em;
}

.attribution {
    text-align: center;
    color: black;
    justify-self: flex-end;
}

