body {
    background-color: hsl(220, 15%, 55%);
    display: flex;
    font-family: 'Outfit', sans-serif;
    height: 100vh;
}

.container {
    display:flex;
    flex-direction: column;
    max-width: 375px;
    max-height: 800px;
    padding: 2em;
    background-color: white;
    border-radius: 2em;
}

img {
    border-radius: 2em;
}

p {
    font-weight: 400;

}

p .header{
    font-weight: 700;
}


